html
{
/*	overflow-y: scroll;
	height: 100%; */
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body
{
/*	height: 100%; */
	font-family: "Ariel", "Helvetica", sans-serif;
	font-size: 1em;
	color: #808080;
	background-color: #C0C0C0;	
}

#wrap
{
/*	position: relative;
	overflow: auto;
	min-height: 100%; */
	width: 800px;
	cursor: default;
	margin: 0 auto;
	color: #808080;
	background-color: #FFFFFF;
}
