html
{
/*	overflow-y: scroll;
	height: 100%; */
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body
{
/*	height: 100%; */
	font-family: "Ariel", "Helvetica", sans-serif;
	font-size: 1em;
	color: #808080;
	background-color: #C0C0C0;	
}

#wrap
{
/*	position: relative;
	overflow: auto;
	min-height: 100%; */
	width: 800px;
	cursor: default;
	margin: 0 auto;
	color: #808080;
	background-color: #FFFFFF;
}

#header
{
/*	position: fixed;
	top: 0;
	width: 768px;
	background-color: #FFFFFF;
	z-index: 9999;	 */
	border-top: 24px solid #FFFFFF; 
	border-bottom: 1px solid #C0C0C0;
}

.banner
{	
	margin-left: 124px;
	margin-bottom: 8px;
	color: #C0C0C0;
	font-size: 36pt;
	font-family: "Lora", serif;
}

.sublist
{
	font-size: 0.75em;
}

.notebox
{
	padding-top: 1.4em;
	padding-bottom: 1.4em;
	font-size: 0.8em;
	background-color: #F0F0F0;
    margin: 1.4em;
    line-height: 1.25em;
}

.notebox p
{
	margin-left: 2em;
	margin-right: 2em;
}

.mailbox
{
	padding-top: 16px;
	padding-bottom: 16px;
	font-family: "Courier New", monospace;
	font-size: 10pt;
	font-weight: bold;
	background-color: #F0F0F0;
	margin: 16px;
	line-height: 1em;
	color: #000000;
}

.mailbox p
{
	margin-left: 2em;
	margin-right: 2em;
}

.notebox ul
{
	margin-right: 2em;
    line-spacing: 2em;
}

.docname
{	
	font-size: 16pt;
}

.section
{
    font-size: 18pt;
    text-align: left;
    color: #E0E0E0;
}

.cimg
{
    text-align: center;
    margin-top: 1em;
    margin-top: 1em;
}

.vidp
{
    text-align: center;
    margin-top: 1em;
    margin-top: 1em;
}

#outbox
{	
/*	overflow-y: auto; 
	padding-bottom: 60px;
	min-height: 100%; */
	color: #808080;
	background-color: #FFFFFF;
}

.footer
{
/*	height: 60px;
	width: 768px;
	position: fixed;
	z-index: 9999;	
	bottom: 0; */
	border-top: 1px solid #C0C0C0;
	border-bottom: 32px solid #FFFFFF;
}

.colophon
{
	color: #C0C0C0;
	font-size: 9pt;
	text-align: left;
	margin-left: 124px;
	margin-right: 124px;
}

.tiny
{
	font-size: 9pt;
}

.fnote
{
	text-decoration: none;
}

.rule
{
    border: 0;
    height: 0;
    border-bottom: 1px solid #C0C0C0;
}

strong
{
	color: #000000;	
}

p
{
	margin: 0 0 0.5em 0; /* t r b l */
}

.frame
{
	clear: both;
}

.side_l
{
	float: left;
	width: 88px; /* total width 120px w/padding */
	font-size: 9pt;
	text-align: right;
	padding-left: 16px;
	padding-right: 16px;
	color: #808080;
	background-color: #FFFFFF;
/*	line-height: 0.95; */
}

.center
{
	float: left;
	width: 560px;
	text-align: left;
	color: #808080;
	background-color: #FFFFFF;
}

.side_r
{
	float: left;
	width: 88px; /* total width 120px w/padding */
	font-size: 9pt;
	text-align: left;
	padding-left: 16px;
	padding-right: 16px;
	color: #808080;
	background-color: #FFFFFF;
/*	line-height: 0.95; */
}

.dcap
{
	display: block;
	float: left;
	font-size: 54pt;
	padding: 0px;
	border: 0px;
	margin-top: -0.15em;
	margin-right: 0.05em;
	margin-bottom: -0.1em;
	color: #808080;
}

a
{
	color: #808080;
	text-decoration: underline;
} 

a:hover
{
	color: #0000FF;
	text-decoration: underline;
} 


/* Navigation stuff */

#nav
{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 124px;
/* 	
	width: 100%;
	float: left;
	Bring the nav above everything else--uncomment if needed.
 	position: relative; z-index: 5; */
}

#nav li
{
	float: left;
	position: relative;
	padding-right: 0;
	margin-right: 8px; /* spacing of menu items */
}

#nav a
{
	display: block;
	padding: 2px;
	color: #C0C0C0;
	text-decoration: none;
}

#nav a:hover
{
	text-decoration: none;
	color: #FFFFFF;
	background: #C0C0C0;
}

/* Dropdowns */

#nav ul
{
	/* background: #FFFFFF;	background: rgba(255,255,255,0); */
	list-style: none;
	position: absolute;
	left: -9999px;
	margin-left: 0;
	padding-left: 0;
}

#nav ul li
{
	border-top: solid 1px #FFFFFF;
	float: none;
}

#nav ul a
{
	white-space: nowrap;
}

#nav li:hover ul
{ 
	left: 2em; /* This is the horizontal offset */
}

#nav li:hover a
{ 
	text-decoration: none;
}

#nav li:hover ul a
{ 
	text-decoration: none;
}

#nav li:hover ul li a:hover
{ 
/*	color: #000000;
	background: #C0C0C0; */
}

.tip
{
/*	border-bottom: 1px solid #C00000; */
}


.tip::after
{
	content: attr(data-tip);
	position: absolute;
	white-space: nowrap;
    background: rgba(255, 255, 255, 255);
	border: 1px solid #CCCCCC;
	color: #808080;
    padding: 3px 6px;
    margin-left: 4px;
	margin-top: -4px;
}

.notip
{
/*	border-bottom: 1px dotted #C00000; */
}

.col1 /* for Story Electric */
{
    font-size: 10pt;
    width: 60%;
    text-align: left;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: #FFEEEE;
    border: 1px solid gray;
}

.col2 /* for Story Electric */
{
    font-size: 10pt;
    width: 60%;
    text-align: left;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: #EEFFEE;
    border: 1px solid gray;
}
